---
http_interactions:
- request:
    method: get
    uri: http://api.vagalume.com.br/search.php?art=Metallica&mus=The%20Unforgiven
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
      X-Count:
      - '4'
    body:
      encoding: US-ASCII
      string: ! '{"type":"exact","art":{"id":"3ade68b5g7257eda3","name":"Metallica","url":"http:\/\/www.vagalume.com.br\/metallica\/"},"mus":[{"id":"3ade68b6g470deda3","name":"The
        Unforgiven","url":"http:\/\/www.vagalume.com.br\/metallica\/the-unforgiven.html","lang":2,"text":"New
        blood joins this earth\nAnd quickly he''s subdued\nThrough constant pained
        disgrace\nThe young boy learns their rules\n\nWith time the child draws in\nThis
        whipping boy done wrong\nDeprived of all his thoughts\nThe young man struggles
        on and on he''s known\nA vow unto his own\nThat never from this day\nHis will
        they''ll take away\n\nWhat I''ve felt\nWhat I''ve known\nNever shined through
        in what I''ve shown\nNever be\nNever see\nWon''t see wha[...]
