---
http_interactions:
- request:
    method: get
    uri: http://api.vagalume.com.br/search.php?art=Bruce%20Springsteen&mus=Ain%27t%20good%20enough%20for%20You
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
      X-Count:
      - '10'
    body:
      encoding: US-ASCII
      string: ! '{"type":"exact","art":{"id":"3ade68b5g01a8eda3","name":"Bruce Springsteen","url":"http:\/\/www.vagalume.com.br\/bruce-springsteen\/"},"mus":[{"id":"3ade68b8g567cdfa3","name":"Ain''t
        Good Enough For You","url":"http:\/\/www.vagalume.com.br\/bruce-springsteen\/aint-good-enough-for-you.html","lang":2,"text":"Well
        you don''t like, don''t like the way I walk\nAnd you don''t like, don''t like
        the way I talk\nYou criticize about me endlessly\nLogic defies how you get
        stuck with me\nAnd you complain about the clothes I wear\nAnd you explain
        there''s other boys out there\nYou complain my car makes too much noise\nAnd
        you cry I''m always out with the boys\n\nWhoa whoa (whoa whoa whoa whoa)\nI
        give up little darling (whoa whoa little darling)\nYeah no matter [...]
